body,
html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.load-screen{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    z-index: 9999;
}
#load-screen img {
    width: 100%;
    height: 100%;
}
